<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../style.css}">
    <style>
        body {
            font-family: Arial;
            padding: 0px;
            background: #f1f1f1;
        }
    </style>
</head>
<body>
<header>
    <div th:insert="fragments/headerNotLoggedIn :: header"></div>
</header>

<section>

    <form th:action="@{/createPost}" method="post"  id="create_post">

        <label> Title: </label>
        <br>
        <input type="text" name="title" placeholder="Title" id="title" th:field="${post.title}">
        <br>

        <label> Body: </label>
        <br>
        <textarea name="textbody" placeholder="Write text here..." id="body" th:field="${post.body}"></textarea>
        <br>

        <input type="submit" value="Create post" >

    </form>
</section>
<div th:insert="fragments/footer :: footer"></div>
</body>
</body>
</html>