<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../style.css}">
    <style>
        body {
            font-family: Arial;
            padding: 0px;
            background: #f1f1f1;
        }
    </style>

</head>
<body>
<header>
    <div th:insert="fragments/header :: header"></div>
</header>

<form th:action="@{'/blog/post/' + ${post.getPost_id()} + '/updatePost/'}" method="post" id="updatePost">
    <br>
    <br>
    <input type="text" name="title" th:value="${post.title}">
    <br>
    <textarea rows="12" style="margin-top: 10px;" type="text" name="body" th:inline="text">[[${post.body}]]</textarea>
    <br>
    <input type="submit" value="updatePost">
</form>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>